<a href="https://colab.research.google.com/github/ubhole9/data-science/blob/main/LR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv("/content/bank-full.csv", sep=";")

In [ ]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [ ]:
df.corr()

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.shape

In [ ]:
sns.heatmap((df.corr()), annot=True)

In [ ]:
y=df.iloc[:,-1]

In [ ]:
y

0         no
1         no
2         no
3         no
4         no
        ...
45206    yes
45207    yes
45208    yes
45209     no
45210     no
Name: y, Length: 45211, dtype: object

In [ ]:
LE=LabelEncoder()
y=LE.fit_transform(y)

In [ ]:
y

array([0, 0, 0, ..., 1, 0, 0])

In [ ]:
data1=pd.get_dummies(x)
data1

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jan,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,33,2,5,76,1,-1,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,47,1506,5,92,1,-1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,33,1,5,198,1,-1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,825,17,977,3,-1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
45207,71,1729,17,456,2,-1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
45208,72,5715,17,1127,5,184,3,0,0,0,...,0,0,0,0,0,1,0,0,0,0
45209,57,668,17,508,4,-1,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
45210,37,2971,17,361,2,188,11,0,0,1,...,0,0,0,0,0,1,0,0,0,1

In [ ]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 49 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  45211 non-null  int64
 1   balance              45211 non-null  int64
 2   day                  45211 non-null  int64
 3   duration             45211 non-null  int64
 4   campaign             45211 non-null  int64
 5   pdays                45211 non-null  int64
 6   previous             45211 non-null  int64
 7   job_admin.           45211 non-null  uint8
 8   job_blue-collar      45211 non-null  uint8
 9   job_entrepreneur     45211 non-null  uint8
 10  job_housemaid        45211 non-null  uint8
 11  job_management       45211 non-null  uint8
 12  job_retired          45211 non-null  uint8
 13  job_self-employed    45211 non-null  uint8
 14  job_services         45211 non-null  uint8
 15  job_student          45211 non-null  uint8
 16  job_technician       45211 non-null  uint8
 17  job_unemployed       45211 non-null  uint8
 18  job_unknown          45211 non-null  uint8
 19  marital_divorced     45211 non-null  uint8
 20  marital_married      45211 non-null  uint8
 21  marital_single       45211 non-null  uint8
 22  education_primary    45211 non-null  uint8
 23  education_secondary  45211 non-null  uint8
 24  education_tertiary   45211 non-null  uint8
 25  education_unknown    45211 non-null  uint8
 26  default_no           45211 non-null  uint8
 27  default_yes          45211 non-null  uint8
 28  housing_no           45211 non-null  uint8
 29  housing_yes          45211 non-null  uint8
 30  loan_no              45211 non-null  uint8
 31  loan_yes             45211 non-null  uint8
 32  contact_cellular     45211 non-null  uint8
 33  contact_telephone    45211 non-null  uint8
 34  contact_unknown      45211 non-null  uint8
 35  month_apr            45211 non-null  uint8
 36  month_aug            45211 non-null  uint8
 37  month_dec            45211 non-null  uint8
 38  month_feb            45211 non-null  uint8
 39  month_jan            45211 non-null  uint8
 40  month_jul            45211 non-null  uint8
 41  month_jun            45211 non-null  uint8
 42  month_mar            45211 non-null  uint8
 43  month_may            45211 non-null  uint8
 44  month_nov            45211 non-null  uint8
 45  month_oct            45211 non-null  uint8
 46  month_sep            45211 non-null  uint8
 47  poutcome_failure     45211 non-null  uint8
 48  poutcome_other       45211 non-null  uint8
dtypes: int64(7), uint8(42)
memory usage: 4.2 MB

In [ ]:
x=data1.iloc[:,0:-1]

In [ ]:
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=0.30, random_state=61)

In [ ]:
LR=LogisticRegression()
LR.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [ ]:
y_pred=LR.predict(x_test)

In [ ]:
confusion_matrix(y_pred, y_test) ,'\n' , accuracy_score(y_pred, y_test)

(array([[11819,  1188],
        [  223,   334]]), '\n', 0.8959746387496313)

In [ ]:
accuracy_score(y_test, y_pred)

0.8959746387496313